@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League+Spartan", sans-serif;
}

h1 {
  font-size: 3.125rem;
  line-height: 3.375remrem;
  color: #222;
}

h2 {
  font-size: 2.875rem;
  line-height: 3.5rem;
  color: #222;
}

h4 {
  font-size: 1.25rem;
  color: #222;
}

h6 {
  font-weight: 700;
  color: #222;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.125rem 5rem;
  background-color: #e3e6f3;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 1.25rem;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #1a1a1a;
}
